@use "_colours.scss" as c;

@mixin section-standards {
	background-color: hsl(291.4, 11.7%, 23.5%);
	color: hsl(92.7, 6.8%, 68.4%);
	pointer-events: none;
	height: fit-content;
	padding: 10px;
}

@mixin section-title {
	font-size: 36pt;
	font-style: italic;
}

@mixin section-text {
	font-size: 24pt;
	padding-left: 4rem;
}
