/*=============================================
=            Imports                          =
=============================================*/

@use "_colours.scss";
@use "_mixins.scss" as m;

@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat+Alternates:wght@700&family=Share+Tech+Mono&display=swap");

/*=====  End of Imports  ======*/

/*=============================================
=            Main Selectors                   =
=============================================*/
header {
	background-color: colours.$black;
	color: colours.$light-grey;
}

// * {
// 	padding: 0;
// 	margin: 0;
// }

body {
	margin: 0;
	font-family: "Cabin", sans-serif;
}

h1 {
	font-family: "Montserrat Alternates", sans-serif;
}

h2 {
	font-family: "Share Tech Mono", monospace;
}

section {
	max-width: 100vw;
	height: 100vh;
	background-color: colours.$dark-grey;
	color: colours.$light-grey;
}

/*=====  End of Main Selectors  ======*/

/*=============================================
=            Navigation                      =
=============================================*/

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: right;
	margin-right: 3vw;
}

/*=====  End of Navigation  ======*/

/*=============================================
=            Main            				  =
=============================================*/

/*=====  End of Main  ======*/

/*=============================================
=            Landing page            =
=============================================*/

// Cursor Icon styles that are mostly identical across screen sizes
.landing {
	&__title--cursoricon {
		display: inline-block;
	}
}

@media screen and (min-width: 1024px) {
	.landing {
		padding: 50px;
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: space-around;
		&__command {
			font-size: 4rem;
		}
		&__message {
			font-size: 2rem;
		}
	}
}

/*=====  End of Landing page  ======*/

/*=============================================
=            About            				  =
=============================================*/

/*=====  End of About  ======*/

/*=============================================
=            Projects            			  =
=============================================*/

@media screen and (min-width: 1024px) {
	.projects {
		@include m.section-standards;

		i {
			color: colours.$light-grey;
			transition: 0.5s ease-in-out;
		}
		i:hover {
			color: colours.$violet;
		}

		&__project-list {
			// display: grid;
			// justify-content: space-around;
			// grid-gap: 1vw;

			// grid-template-columns: repeat(3, auto);
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-evenly;
			pointer-events: none;
		}
		&__project-item {
			display: flex;
			flex-direction: column;
			width: 20vw;
			text-align: center;
			opacity: 100%;
			transition: opacity 0.5s ease-in-out;
			pointer-events: auto;
		}

		&__project-list:hover > * {
			opacity: 0.4;
		}

		&__project-list:hover > *:hover {
			opacity: 1;
		}

		&__project-item:not(:hover) {
			opacity: 50%;
		}

		&__project-item--not-hovered {
			/* Different to something like :not(:hover), this class should be applied WHEN one of the other projects get hovered over*/
			opacity: 50%;
		}

		&__page-link {
			display: flex;
			justify-content: right;
			margin-right: 5vw;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.projects {
		@include m.section-standards;

		i {
			color: colours.$light-grey;
			transition: 0.5s ease-in-out;
		}
		i:hover {
			color: colours.$violet;
		}

		&__project-list {
			// display: grid;
			// justify-content: space-around;
			// grid-gap: 1vw;

			// grid-template-columns: repeat(3, auto);
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;
		}
		&__project-item {
			display: flex;
			flex-direction: column;
			width: 40vw;
			text-align: center;
			opacity: 75%;
			transition: opacity 0.5s ease-in-out;
			pointer-events: auto;
		}

		&__:hover > * {
			opacity: 0.4;
		}

		&__:hover > *:hover {
			transform: scale(1.1);
			opacity: 1;
		}

		&__project-item:hover {
			opacity: 100%;
		}

		&__project-item--not-hovered {
			/* Different to something like :not(:hover), this class should be applied WHEN one of the other projects get hovered over*/
			opacity: 50%;
		}

		&__page-link {
			display: flex;
			justify-content: right;
			margin-right: 5vw;
		}
	}
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
	.projects {
		@include m.section-standards;

		i {
			color: colours.$light-grey;
			transition: 0.5s ease-in-out;
		}
		i:hover {
			color: colours.$violet;
		}

		&__project-list {
			// display: grid;
			// justify-content: space-around;
			// grid-gap: 1vw;

			// grid-template-columns: repeat(3, auto);
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;
		}
		&__project-item {
			display: flex;
			flex-direction: column;
			width: 50vw;
			text-align: center;
			opacity: 75%;
			transition: opacity 0.5s ease-in-out;
			pointer-events: auto;
		}

		&__:hover > * {
			opacity: 0.4;
		}

		&__:hover > *:hover {
			transform: scale(1.1);
			opacity: 1;
		}

		&__project-item:hover {
			opacity: 100%;
		}

		&__project-item--not-hovered {
			/* Different to something like :not(:hover), this class should be applied WHEN one of the other projects get hovered over*/
			opacity: 50%;
		}

		&__page-link {
			display: flex;
			justify-content: right;
			margin-right: 5vw;
		}
	}
}

/*=====  End of Projects  ======*/

/*=============================================
=            Media Queries            =
=============================================*/

/*=====  End of Media Queries  ======*/
