/*=============================================
=            Imports                          =
=============================================*/

@use "colours.scss";
@use "mixins.scss";

/*=====  End of Imports  ======*/

/*=============================================
=            Main Selectors                   =
=============================================*/

// * {
// 	padding: 0;
// 	margin: 0;
// }

section {
	width: 100vw;
	height: 100vh;
}

@media screen and (max-width: 767px) {
	section {
		width: 100vw;
		height: 100vh;
	}
}

/*=====  End of Main Selectors  ======*/

/*=============================================
=            Navigation                      =
=============================================*/

.navbar {
	display: flex;
	flex-direction: row;
}

/*=====  End of Navigation  ======*/

/*=============================================
=            Main            				  =
=============================================*/

/*=====  End of Main  ======*/

/*=============================================
=            About            				  =
=============================================*/

/*=====  End of About  ======*/

/*=============================================
=            Projects            			  =
=============================================*/

.projects {
	background-color: colours.$dark-grey;
	color: colours.$light-grey;
	pointer-events: none;

	i {
		color: colours.$light-grey;
		transition: 0.5s ease-in-out;
	}
	i:hover {
		color: colours.$violet;
	}

	&__project-list {
		display: grid;
		justify-content: space-around;
		grid-gap: 1vw;

		grid-template-columns: repeat(3, auto);
	}
	&__project-item {
		display: flex;
		flex-direction: column;
		width: 15vw;
		text-align: center;
		opacity: 75%;
		transition: opacity 0.5s ease-in-out;
		pointer-events: auto;
	}

	&__:hover > * {
		opacity: 0.4;
	}

	&__:hover > *:hover {
		transform: scale(1.1);
		opacity: 1;
	}

	&__project-item:hover {
		opacity: 100%;
	}

	&__project-item--not-hovered {
		/* Different to something like :not(:hover), this class should be applied WHEN one of the other projects get hovered over*/
		opacity: 50%;
	}
}

/*=====  End of Projects  ======*/
